.navbar {
    display: flex;
    list-style: none;
    padding: 0 15rem;


}

header .navbar li a {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    display: flex;
    margin: 40px 20px;
    text-decoration: none;
    color: rgb(25, 25, 25);
    font-weight: bold;
}


.active {
    color: rgba(1, 102, 210, 0.972);
    position: relative;
}


header {
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin-top: 30px;
    margin-right: 90px;
    height: 100px;
    width: 100%;
}

header img {
    margin-left: 250px;
}