.navbar {
    list-style: none;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    margin: 40px 350px;
    display: flex;



}

header ul li a {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-left: 40px;
    color: rgb(21, 20, 20);


}


.active {
    color: rgba(1, 102, 210, 0.972);
    position: relative;
}


header {
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin-top: 30px;
    margin-right: 90px;
    height: 100px;
    width: 100%;
}

header img {
    margin-left: 250px;
}