main {
    margin-top: 15px;
}



.link {
    display: flex;
    padding: 40px 260px;
    font-size: 23px;
    font-weight: bold;
    background-color: rgb(18, 18, 18);
    color: white;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    list-style: none;

}

.img {
    margin-left: 60px;
    width: 65px;
    height: 70px;
}

.Background_image {
    height: 200px;
    background-color: rgb(14, 117, 226);
    padding: 50px 300px;
    display: flex;
    align-items: center;


}

.nomeone {
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 15px;
    margin-left: 15px;




}


.List {
    font-family: "Open Sans", sans-serif;
    margin-left: 70px;
    margin-top: 20px;
    text-decoration: none;
    list-style: none;




}

.Contenitori {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    padding: 20px 300px;
    background-image: url('../assets/footer-bg.jpg');
}


.title {
    color: white;
    font-size: 20px;
}

.title-inline {

    display: flex;

}


.Caratteri {
    color: white;
    font-size: 13px;
    margin-top: 10px;
    opacity: 0.7;


}

.Bgimage {
    position: absolute;
    margin-left: 100px;
    width: auto;
    height: 250px;
}